* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e1014;
  color: white;
}

header img {
  display: block;
  margin: 75px 0 0 360px;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
}

h1 span {
  color: #9747ff;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 792px;
  margin: 24px auto 0;
}

a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-decoration: none;
  background-color: #9747ff;
  width: 340px;
  height: 66px;
  display: block;
  text-align: center;
  line-height: 66px;
  border-radius: 36px;
  margin: 40px auto;
}

a:hover {
  background-color: #8233e8;
}

section img {
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}
