* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e1014;
  color: white;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: bold;
}

h1 span {
  color: #9747ff;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
}
