h1 {
  font-size: 40px;
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}

p {
  font-size: 25px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
}